<div class="header" xmlns="http://www.w3.org/1999/html">
    <div class="header-left">
        <div class="header-logo">
          <img src="/assets/Frame.svg" alt="Логотип">
        </div>
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">каталог</div>
      </nav>
    </div>
<div class="header2">
  <div class="header-right">
    <div class="header-phone">
      <img src="/assets/Phone.svg" alt="телефон">
    </div>
    <nav class="header-nav2">
      <div class="header-nav-item2">+7(965) 084-29-29</div>
      <div class="header-nav-item2">
        <img src="/assets/heart%201.svg" alt="сердце" class="icon2тп">
      </div>
      <div class="cart-container">
        <img src="/assets/cart.svg" alt="корзина" class="icon">
        <span class="cart-text">Пусто</span>
      </div>
    </nav>
  </div>
